{% extends "sidebar.html" %}

{% block title %}
    contact
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
<div class="content" style="margin-top: 107px">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h3 class="heading mb-4" style="text-align: center">About</h3>
                        <p style="text-align: center; font-size: 16px">
                            StckHm is a portfolio tracker I decided to make during my summer break after I realised the lack of portfolio tracking
                            applications especially for people who use multiple brokerages. For a more detailed explanation please read the readme
                            file on the repository for this project on my github :D
                        </p>
                        <h3 class="heading mb-3" style="text-align: center; padding-top: 20px; font-size: 25px; opacity: 90%">About Me</h3>
                        <p style="text-align: center; font-size: 15px; opacity: 90%">
                            Hi I'm Darryl, currently a Computer Science undergraduate at Singapore's Nanyang Technological University and I enjoy doing
                            'bigger' projects like this when I have a lot of time on my hands xd. I feel that the best way to learn is to have hands-on experiences
                            through projects and internships which complement theoretical knowledge from college. Hope you will like StckHm as much as I do.
                        </p>
                        <p style="text-align: center; font-size: 15px; opacity: 90%; padding-top: 20px">
                            Do feel free to raise issues on the github repository :)
                        </p>
                        <p><img src="../static/icons/undraw-contact.svg" alt="" class="img-fluid" style="padding-top: 70px"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}